[id_1]
min = 0
max = 4095

[id_2]
min = 0
max = 4095

[id_3]
min = 0
max = 4095

[id_4]
min = 0
max = 4095

[id_5]
min = 0
max = 4095

[id_6]
min = 0
max = 4095

[id_7]
min = 0
max = 4095

[id_8]
min = 0
max = 4095

[id_9]
min = 0
max = 4095

[id_10]
min = 0
max = 4095

[id_11]
min = 0
max = 4095

[id_12]
min = 0
max = 4095

[id_13]
min = 0
max = 4095

[id_14]
min = 0
max = 4095

[id_15]
min = 0
max = 4095

[id_16]
min = 0
max = 4095

[id_17]
min = 0
max = 4095

[id_18]
min = 0
max = 4095

[id_19]
min = 0
max = 4095

[id_20]
min = 0
max = 4095

